@import 'variables';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 62,5%;
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
 background-color: $color_naranja;


  .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

    a {
      color: #fff;

    }

    img {
      max-height: 40px;
    }
  }
}

/* MENU/navbar */

.navbar {
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  li {
    position: relative;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;

    &:hover {
      color: $color_azul_gris;
    }
  }

  .active {
    color: $color_azul_gris;

  }

  li:hover > a {
    color: $color_azul_gris;
  }
}

/* MOBILE NAVBAR */

.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;

  .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }

  a {
    padding: 10px 20px;
    font-size: 15px;
    color: #151515;

    &:focus {
      padding: 10px 20px;
      font-size: 15px;
      color: #151515;
    }

    &:hover {
      color: #151515;
      background-color: $color_naranja;
    }
  }

  .active, li:hover > a {
    color: #151515;
    background-color: $color_naranja;
  }
}

/*   
SECCIÓN PRINCIPAL */

#principal {
  width: 100%;
  height: 100vh;
  background: url("../img/indexPortada.jpg") top center;
  background-size: cover;
  position: relative;


  .container {
    position: relative;
    padding-top: 190px;
    text-align: center;
  }

  h1 {
    margin: 0;
    padding-top: 30px;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
  }

  h2 {
    color: rgba(255, 255, 255, 0.9);
    margin: 10px 0 0 0;
    font-size: 24px;
  }

  .itemBox {
    transition: ease-in-out 0.3s;
    border: none;
    height: 100%;
    text-align: center;
    margin-top: 4rem !important;
  }

  .itemBox h3 {
    font-weight: 700;
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 1;
    font-size: 20px;
    line-height: 26px;
    color: white;
  }

  .box1 {
    background-color: $color_azul_gris;
    width: 207px;
    height: 180px;
    text-align: center;
    margin: 5px;
    padding: 60px 10px 0px 10px;
  } 
  
  .box2 {
    background-color: $color_aguamarina;
    width: 207px;
    height: 180px;
    text-align: center;
    margin: 5px;
    padding: 60px 10px 0px 10px;
  }

  .box3 {
    background-color: $color_verdeClaro;
    width: 207px;
    height: 180px;
    text-align: center;
    margin: 5px;
    padding: 60px 10px 0px 10px;
  }

  .box4 {
    background-color: $color_naranjaClaro;
    width: 207px;
    height: 180px;
    text-align: center;
    margin: 5px;
    padding: 60px 10px 0px 10px;
  }

  .box5 {
    background-color: $color_naranja;
    width: 207px;
    height: 180px;
    text-align: center;
    margin: 5px;
    padding: 60px 15px 0px 15px;
  }

}

.flexImagenesIndex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 120px;
  margin: 30px;
}

.flexIndex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 5px;
  margin-top: 60px;
  padding: 20px;
}

.textoIcono {
  font-size: 22px;
  color: #0b132b;
  text-align: center;
  margin: 30px;
  font-weight: bold;
}

.iconoLogo {
  height: 40px;
}


.imagenesIndex {
  filter: saturate(0%);
}

.flexVideo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: static;
}

.video {
  align-content: center;
  align-items: center;
  width: 80%;
  margin: 30px;
  margin-bottom: 78px;
}
.clientes {
  background-color: $color_verdeClaro;
  color: white;
  padding: 20px;
  margin: 0px;
}

/* ESTILOS QUIENES SOMOS */

.gridsQuienesSomos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: "quienesTitulo fotoRapiditas" "parrafoQuienesSomos fotoRapiditas";
  justify-items: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}


.quienesTitulo {
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: $color_naranja;
  margin: 10px 0px 0px 103px;
  width: 400px;
}


.parrafoQuienesSomos {
  grid-area: parrafoQuienesSomos;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  width: 400px;
  margin-left: 103px;
  color: #0B132B;
}

.fotoRapiditas {
  grid-area: fotoRapiditas;
  height: 600px;
}

.lonaGigante {
  background-image: url(../img/quienesTexto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height:300px;
  margin-bottom: 100px;
}

.textoLona {
  color: white;
  font-size: 35px;
  font-weight: 650;
  padding: 100px;
  text-align: center;
  margin-bottom: 100px;
}

.flexExperiencia {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom:100px ;
}

.textoExperiencia {
  font-weight: 650;
  font-size: 35px;
  line-height: 40px;
  width: 515px;
  color: #0B132B;
}

/* ESTILOS SERVICIOS */

#servicios {
  width: 100%;
  height: 100vh;
  background: url("img/fotoservicios.jpg") top center;
  background-size: cover;
  position: relative;

  &:before {
    content: "";
    background: rgba(32, 32, 48, 0.6);
    filter: opacity(20%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .container {
    position: relative;
    padding-top: 74px;
    text-align: center;
  }

  h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
  }
}

.tituloServicios {
  text-transform: uppercase;
  margin: 100px;
}

.textosServicios {
  width: 550px;
  font-size: 2rem;
  font-weight: bolder;
  color: #0B132B;
}

.flexServicios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 80px;
}

.fotoTextil {
  width: 400px;
}

/* ESTILOS PORTFOLIO */

#portfolio {
  width: 100%;
  height: 100vh;
  background: url("img/fotoPortfolio.jpg") top center;
  background-size: cover;
  position: relative;

  &:before {
    content: "";
    background: rgba(32, 32, 48, 0.6);
    filter: opacity(20%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .container {
    position: relative;
    padding-top: 74px;
    text-align: center;
  }

  h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
  }
}

.parrafoPortfolio {
  text-align: center;
  margin: 30px 250px;
  margin-bottom: 50px;
  width: 800px;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  color: #0B132B;
}

.ulTrabajos {
  text-align: center;
  margin-bottom: 80px;
  margin-top: 50px;
}

.listaTrabajos {
  padding: 10px;
  list-style-type: none;
  display: inline;
  font-weight: bold;
  font-size: 16px;
  color: #0B132B;
  margin: 10px;
}

.tituloPortfolio {
  margin: 40px;
  text-align: center;
  color: #0B132B;
}

.imagenesTrabajosRecientes {
  width: 100%;
  width: 250px;
}

.gridsImagenesIndex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 320px 480px;
  align-items: start;
  grid-template-areas: "foto1 foto2 foto3 foto4" "foto5 foto6 foto7 foto8";
  justify-items: center;
  margin-top: 10px;
}

.imagenesTrabajosRecientes:hover {
  filter: opacity(50%);
}

.fotoUno {
  grid-area: foto1;
}

.fotoDos {
  grid-area: foto2;
}

.fotoTres {
  grid-area: foto3;
}

.fotoCuatro {
  grid-area: foto4;
}

.fotoCinco {
  grid-area: foto5;
}

.fotoSeis {
  grid-area: foto6;
}

.fotoSiete {
  grid-area: foto7;
}

.fotoOcho {
  grid-area: foto8;
}

/* ESTILOS CONTACTO */

#contacto {
  width: 100%;
  height: 100vh;
  background: url("img/fotoIndex.jpg") top center;
  background-size: cover;
  position: relative;

  &:before {
    content: "";
    background: rgba(32, 32, 48, 0.6);
    filter: opacity(20%);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }

  .container {
    position: relative;
    padding-top: 74px;
    text-align: center;
  }

  h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
    color: #fff;
  }
}

.navContacto {
  background-color: #CC5500;
}

.tituloContacto {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 30px;
}

form {
  width: 600px;
  margin: 5px 100px 5px 500px;
  padding-bottom: 400px;
}

.formColor {
  color: white;
}

.espaciosForm {
  padding: 15px;
  margin: 5px;
}

.botonForm {
  padding: 5px 7px 5px 7px;
  margin: 2px 5px 15px 5px;
  margin-left: 20px;
}

.textosForm {
  font-weight: bold;
  font-size: 16px;
  color: #0B132B;
}

/* ESTILOS FOOTER */

footer {
  background-color: #0B132B;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.textoFooter {
  color: white;
  padding: 30px;
  margin: 10px;
}

.redesFooter {
  padding: 30px;
}

/* PANTALLAS GRANDES  */

@media screen and (min-width: 1020px) {
  .flexImagenesIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 5px;
    margin-bottom: 20px;
    height: 150px;
    justify-content: space-around;
  }

  .imagenesIndex {
    height: 40px;
    margin: 5px;

    &:hover {
      filter: opacity(50%);
    }
  }
}

/* LAPTOPS A TABLET */

@media screen and (min-width: 600px) and (max-width: 1023px) {
  #hero {
    background-attachment: fixed;
  }

  #iconos {
    display: none;
  }

  .flexImagenesIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    margin: 15px;
    justify-content: space-between;
  }

  .imagenesIndex {
    height: 240px;
    margin: 5px;

    &:hover {
      filter: opacity(50%);
    }
  }

  /* ESTILOS QUIENES SOMOS */

  #quienes {
    background-attachment: fixed;
  }

  .gridsQuienesSomos {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 30px;
  }

  .tituloQuienesSomos {
    grid-area: tituloQuienesSomos;
    font-size: 2rem;
    color: #0B132B;
    padding-bottom: 0px;
    padding-top: 24px;
  }

  .parrafoQuienesSomos {
    grid-area: parrafoQuienesSomos;
    font-weight: 450;
    font-size: 16px;
    line-height: 25px;
    width: 500px;
    color: #0B132B;
    margin-top: 30px;
    height: 600px;
  }

  .tituloMaquinas {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    margin: 5px;
    padding: 15px;
    padding-top: 5px;
  }

  .listaMaquinas {
    list-style-type: none;
    line-height: 40px;
    text-align: center;
  }

  .fotoRapiditas {
    grid-area: fotoRapiditas;
    height: 400px;
    margin-top: 20px;
  }

  /* ESTILOS SERVICIOS */

  #servicios {
    background-attachment: fixed;
  }

  .tituloServicios {
    text-transform: uppercase;
    margin: 50px;
    font-size: 3rem;
  }

  .textosServicios {
    width: 550px;
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    color: #0B132B;
  }

  .flexServicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }

  .ordenServicios {
    order: -1;
  }

  .fotoTextil {
    width: 400px;
  }

  .separacionServicios {
    margin-top: 30px;
  }

  /* ESTILOS PORTFOLIO */

  #portfolio {
    background-attachment: fixed;
  }

  .parrafoPortfolio {
    text-align: center;
    margin: 0px;
    margin-bottom: 50px;
    width: 500px;
    padding: 10px;
    font-weight: 450;
    font-size: 16px;
    line-height: 25px;
    color: #0B132B;
  }

  .ulTrabajos {
    text-align: center;
    margin-bottom: 80px;
    margin-top: 50px;
  }

  .listaTrabajos {
    padding: 10px;
    list-style-type: none;
    display: inline;
    font-weight: bold;
    font-size: 16px;
    color: #0B132B;
    margin: 10px;
  }

  .tituloPortfolio {
    margin-top: 40px;
  }

  .imagenesTrabajosRecientes {
    width: 100%;
    width: 250px;
  }

  .gridsImagenesIndex {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 320px 320px 470px;
    align-items: start;
    grid-template-areas: "foto1 foto2 foto3" "foto4 foto5 foto6" "foto7 foto8 .";
    margin-bottom: 40px;
    margin-top: 0px;
  }

  .imagenesTrabajosRecientes:hover {
    filter: opacity(50%);
  }

  .fotoUno {
    grid-area: foto1;
  }

  .fotoDos {
    grid-area: foto2;
  }

  .fotoTres {
    grid-area: foto3;
  }

  .fotoCuatro {
    grid-area: foto4;
  }

  .fotoCinco {
    grid-area: foto5;
  }

  .fotoSeis {
    grid-area: foto6;
  }

  .fotoSiete {
    grid-area: foto7;
  }

  .fotoOcho {
    grid-area: foto8;
  }

  /* ESTILOS CONTACTO */

  #contacto {
    background-attachment: fixed;
  }

  form {
    width: 500px;
    margin: 5px 100px 5px 200px;
    padding-top: 50px;
    padding-bottom: 220px;
  }
}

/* TABLET O CELULAR GRANDE */

@media (max-width: 768px) {
  #hero {
    height: auto;

    h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }

  #iconos {
    display: none;
  }

  #servicios h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #servicio .container {
    position: relative;
    padding-top: 174px;
    height: 300px;
    text-align: center;
  }

  #quienes {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }

    .container {
      position: relative;
      padding-top: 100px;
      height: 300px;
      text-align: center;
    }
  }

  #portfolio {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }

    .container {
      position: relative;
      padding-top: 174px;
      height: 300px;
      text-align: center;
    }
  }

  #contacto {
    h1 {
      font-size: 28px;
      line-height: 36px;
    }

    .container {
      position: relative;
      padding-top: 250px;
      height: 300px;
      text-align: center;
    }
  }
}

/* CELULAR */

@media screen and (max-width: 599px) {
  .media {
    display: none;
  }

  #iconos {
    display: initial;
    transition: ease-in-out 0.3s;
    border: none;
    background-image: url(img/vinilo.png);
    background-repeat: no-repeat;
  }

  #hero {
    h1 {
      font-size: 40px;
      line-height: 45px;
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 30px;
    }

    h2, .icon-box h3 {
      display: none;
    }
  }

  .flexImagenesIndex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 179vh;
    margin: 60px;
    justify-content: center;
  }

  .imagenesIndex {
    height: 240px;
    margin: 5px;

    &:hover {
      filter: opacity(50%);
    }
  }

  /* ESTILOS QUIENES SOMOS */

  #quienes {
    h1 {
      font-size: 30px;
      line-height: 36px;
      padding-left: 15px;
      padding-right: 15px;
    }

    h2, .icon-box h3 {
      display: none;
    }
  }

  .gridsQuienesSomos {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 30px;
  }

  .tituloQuienesSomos {
    grid-area: tituloQuienesSomos;
    font-size: 22px;
    color: #0B132B;
    padding-bottom: 0px;
    padding-top: 24px;
  }

  .parrafoQuienesSomos {
    grid-area: parrafoQuienesSomos;
    font-weight: 450;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    width: 313px;
    color: #0B132B;
    margin-top: 30px;
    height: 600px;
  }

  .tituloMaquinas {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    margin: 5px;
    padding: 15px;
    padding-top: 5px;
  }

  .listaMaquinas {
    list-style-type: none;
    line-height: 40px;
    text-align: center;
  }

  .fotoRapiditas {
    grid-area: fotoRapiditas;
    height: 300px;
    margin-top: 20px;
  }

  /* ESTILOS SERVICIOS */

  #servicios {
    h1 {
      font-size: 30px;
      line-height: 36px;
      padding-left: 15px;
      padding-right: 15px;
    }

    h2, .icon-box h3 {
      display: none;
    }
  }

  .tituloServicios {
    text-transform: uppercase;
    margin: 20px 35px;
    font-size: 22px;
  }

  .textosServicios {
    width: 300px;
    font-size: 22px;
    text-align: center;
    font-weight: bolder;
    color: #0B132B;
  }

  .flexServicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-bottom: 20px;
    padding: 20px;
  }

  .ordenServicios {
    order: -1;
  }

  .fotoTextil {
    width: 100%;
  }

  .fotoCamaPlana {
    height: 180px;
  }

  .separacionServicios {
    margin-top: 30px;
  }

  /* ESTILOS PORTFOLIO */

  #portfolio h1 {
    font-size: 30px;
    line-height: 36px;
    padding-left: 15px;
    padding-right: 15px;
  }

  #porfolio h2, #portfolio .icon-box h3 {
    display: none;
  }

  .parrafoPortfolio {
    text-align: center;
    margin: 0px;
    margin-bottom: 50px;
    width: 300px;
    padding: 10px;
    font-weight: 450;
    font-size: 16px;
    line-height: 25px;
    color: #0B132B;
  }

  .ulTrabajos {
    text-align: center;
    margin-bottom: 22px;
    margin-top: 20px;
  }

  .listaTrabajos {
    padding: 10px;
    list-style-type: none;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
    color: #0B132B;
    margin: 10px;
  }

  .tituloPortfolio {
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .imagenesTrabajosRecientes {
    width: 100%;
    width: 250px;
  }

  .gridsImagenesIndex {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 320px 320px 320px 320px 320px 320px 320px 455px;
    grid-template-areas: "foto1" "foto2" "foto3" "foto4" "foto5" "foto6" "foto7" "foto8" ".";
    margin-bottom: 40px;
    margin-top: 0px;
    justify-items: center;
  }

  .imagenesTrabajosRecientes:hover {
    filter: opacity(50%);
  }

  .fotoUno {
    grid-area: foto1;
  }

  .fotoDos {
    grid-area: foto2;
  }

  .fotoTres {
    grid-area: foto3;
  }

  .fotoCuatro {
    grid-area: foto4;
  }

  .fotoCinco {
    grid-area: foto5;
  }

  .fotoSeis {
    grid-area: foto6;
  }

  .fotoSiete {
    grid-area: foto7;
  }

  .fotoOcho {
    grid-area: foto8;
  }

  /* ESTILOS CONTACTO */

  #contacto {
    h1 {
      font-size: 30px;
      line-height: 36px;
      padding-left: 15px;
      padding-right: 15px;
    }

    .container {
      height: 100vh;
    }
  }

  form {
    width: 300px;
    margin: 5px 30px;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .alignForm {
    margin-left: 20px;
  }

  /* ESTILOS FOOTER */

  .textoFooter {
    display: none;
  }
}